# Node.js dependencies
/node_modules/

# Environment variables file
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# npm package-lock files
package-lock.json
yarn.lock

# Build output
/dist/
/build/

# Temporary files
*.tmp
*.bak
